*{
  margin:0px;
  padding:0px;
  font-family: sans-serif;



}
html,body{
  height:100%;
}

body {
  /*background-color: #D259EA;
  background-repeat: no-repeat;
  background-size: auto;
  overflow:none;*/
  /* purple #4d9ec9ff */
  /* blue #bc5fd3ff */
  background-image: linear-gradient(to top, #4d9ec9ff 4%, #bc5fd3ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;


}

ul{
  list-style-type:none;
  display:flex;
  justify-content: center;

}
ul li{
  display: list-item;
  color:black;
  margin:5px;
  border-bottom:2px solid transparent;

}

ul li:hover{
  display: list-item;
  color:black;
  margin:5px;
  border-bottom:1.5px solid #BC5FD3;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

li a {
  display: table-cell;
  color: #878787;
  text-align: center;
  padding:3px;
  text-decoration: none;
}

li a:hover {
  color:#BC5FD3;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}

.divContainer{
    height:300px;
    width:70%;
    margin-right:auto;
    margin-left:auto;
}

.grocery-items-container {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  margin-right:20%;
  margin-left:20%;
  justify-content:center;

  width:60%;
}

.grocery-items-container > div {
  background-color: white;
  color:#878787;
  border-radius:15px;
  width: 200px;
  height:240px;
  margin: 10px;
  text-align: center;
  padding:10px;
  box-shadow: 0px 5px 10px 0px rgba(50, 5, 44,0.5);
}

.grocery-list-container{
  display:flex;
  flex-wrap: wrap;
  background-color:transparent;

  justify-content:center;
}

.grocery-list-container > div {
  background-color: white;
  color:#878787;
  border-radius:15px;
  width: 70%;
  height:160px;
  margin: 10px;
  text-align: center;
  padding:10px;
  box-shadow: 0px 5px 10px 0px rgba(50, 5, 44,0.5);
}

.icon{
  margin-top:5px;
  margin-bottom:0px;
  height:60px;
}
.title{
  font-size:30px;
  margin:5px;
}
.label{
  font-size:15px;
  margin:5px;
  color:black;
}
.priceLabel{
  height:40px;
  margin:10px;
}

.image-container{
  position:relative;
  text-align:center;
  color:white;
}
.priceText{
  position: absolute;
  top: 47%;
  left: 55%;
  font-size:20px;
  transform: translate(-50%, -50%);
}

p{
  padding:0px;
  margin:0px;
}

.navBar{

  margin:10px;
  padding:10px;
  margin-right:20%;
  margin-left:20%;
  background-color:white;
  border-radius:15px;
  box-shadow: 0px 5px 10px 0px rgba(50, 5, 44,0.5);
}

.navLinkDiv{

}

.brand{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  width:250px;
}

.tableContainer{
  display: table;
  margin: 0 auto;
  padding:10px;
  height:100%;
}

.container{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  margin:10px;
}

.webContainer{
  display: table;
  margin: 0 auto;
  padding:10px;
}

.form-container{
  height:10%;
}
.signin-form{
  width:400px;
  height:450px;
  padding-top:20px;
  border-radius:15px;
  background-color:white;
  box-shadow: 0px 5px 40px 0px rgba(50, 5, 44,0.5);
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  width: 65%;
}

.customInput{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:25px;
  width:70%;
  -webkit-appearance: none;
  border-radius:20px;
  background-color:#D2D2D2;
  border:2px solid transparent;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:15px;
  padding-left:15px;
  font-size:18px;
  color: #878787;
  text-decoration:none;
}

.customInput:focus{
  outline: none;
  border:2px solid transparent;
  caret-color: #878787;
  color: #878787;
}

.button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:2px solid transparent;
  color:white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.line{
  border: 0;
   height: 2px;
   background: #BC5FD3;
   margin-bottom:-30px;
   width:70%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.border{
  border:1.5px solid #BC5FD3;
  border-right:none;
  border-left:none;
  border-bottom:none;
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.switch-container{
  text-align:center;
  margin-top:20px;
  margin-bottom:-2px;
}

.switchButton{
  display:inline-block;
  background-color:#BC5FD3;
  border:1.5px solid #BC5FD3;
  border-bottom:none;
  color:white;
  padding:10px;
  border-radius:5px 5px 0px 0px;
}


.switchButtonActive{
  display:inline-block;
  background-color:white;
  border:1.5px solid #BC5FD3;
  border-bottom:none;
  color:#BC5FD3;
  padding:10px;
  border-radius:5px 5px 0px 0px;
}

.button:focus{
  outline:none;
}
.customButton{
  background-color:#BC5FD3;
  width:120px;
  font-size: 20px;
  padding:5px;
  margin-bottom:25px;
  border-radius:20px;
}
.customButton:hover{
  border:2px solid #BC5FD3;
  background-color:white;
  color:#BC5FD3;
}
.googleButton{
  background-color:#37c871ff;
  padding:5px;
  width:250px;
  margin-bottom:10px;
  font-size:15px;
  border-radius:20px;
}
.googleButton:hover{
  border:2px solid #37c871ff;
  background-color:white;
  color:#37c871ff;
}
.twitterButton{
  background-color:#4d9ec9ff;
  padding:5px;
  width:250px;
  font-size:15px;
  border-radius:20px;
  margin-bottom:20px;

}
.twitterButton:hover{
  border:2px solid #4d9ec9ff;
  background-color:white;
  color:#4d9ec9ff;
}

@media only screen and (max-width: 400px) {
  .grocery-items-container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin-right:15%;
    margin-left:15%;
    justify-content:center;
  }

  .grocery-items-container > div {
    background-color: white;
    color:#878787;
    border-radius:15px;
    width: 200px;
    height:240px;
    margin: 10px;
    text-align: center;
    padding:10px;
    box-shadow: 0px 5px 10px 0px rgba(50, 5, 44,0.5);
  }

  .icon{
    margin-top:0px;
    margin-bottom:0px;
    height:60px;
  }
  .title{
    font-size:30px;
    margin:5px;
  }
  .label{
    font-size:15px;
    margin:5px;
  }
  .priceLabel{
    height:40px;
    margin:0px;
    padding:0px;
  }
}

@media only screen and (max-width: 600px) {

  .signin-form{
    width:300px;
    height:350px;
}

  .divContainer{
      height:300px;
      width:100%;
      margin-right:auto;
      margin-left:auto;

      background-color:red;
  }

  .navBar{
    margin:10px;
    padding:10px;
    margin-right:0%;
    margin-left:0%;
    border-radius:0px;
    background-color:white;

  }

  .customInput{
    margin-bottom:10px;
    width:70%;
    font-size:15px;
  }
  h1{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    color:#878787;
    font-size:20px;
  }
  .customButton{
    background-color:#BC5FD3;
    width:120px;
    font-size: 15px;
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;
  }
  .googleButton{
    width:200px;
  }
  .twitterButton{
    width:200px;
  }

}
